.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #E2E0B5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 100px; 
  height: auto;
}

.navbar nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #1A289F;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  
}

.navbar nav a:hover {
  color: #4a90e2;
}

.navbar .login-btn {
  background-color: #1A289F;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
  font-family: montsarrat;
  font-size: 24px;
}

.navbar .login-btn:hover {
  background-color: #1A289F;
}
.navbar .signup-btn {
  background-color: #1A289F;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 15px;
  cursor: pointer;
  font-family: montsarrat;
  font-size: 24px;
}
.navbar .button-container{
  display: flex; 
  gap: 20px; 
  justify-content: flex-start; /* Align buttons close together */
  padding: 0; /* Ensure no extra padding */
  margin: 0;
}
